# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WpfApplication1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\University\Labs\OOP\labs-OOTP\WpfApplication1\.idea\.idea.WpfApplication1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
