# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MyDLL.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\University\Labs\OOP\labs-OOTP\MyDLL\.idea\.idea.MyDLL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
