# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.tetst.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\University\Labs\OOP\labs-OOTP\tetst\.idea\.idea.tetst\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
